


<div class="add_emp"><h2 class=""><span class="">Add/Edit Freelancers</span></h2></div>

<div class="row add_employee_div">
    <br/>

    <div class="col-md-6">
    
    <form #form="ngForm" ngNativeValidate (submit)="onSubmit(form)">
        <div class="form-row">
                <input type="hidden" class="form-control" id="inputId"name="Id"[(ngModel)]="service.formData.id">
    
            <div class="form-group col-md-6">
              <label for="inputEmail4">Name</label>
              <input type="text" class="form-control" id="inputname"name="userName" placeholder="Name"[(ngModel)]="service.formData.userName"required>
            </div>
            
            <div class="form-group col-md-12">
              <label for="inputPassword4"> Email</label>
    
              <input type="text" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" id="inputname"name="mail" placeholder="Email"[(ngModel)]="service.formData.mail" #emailref="ngModel" [class.success]="!emailref.invalid" autocomplete="off" required>
              <div *ngIf="emailref.errors &&(emailref.touched || emailref.dirty)" class ="text-error">
                Invalid email
             </div>
            </div>
          </div>
          <div class="form-row">
    
          <div class="form-group col-md-4">
            <label for="inputPassword4"> Phone Number</label>
            <input type="text" class="form-control"name="phoneNumber" id="inputname" placeholder="phoneNumber"[(ngModel)]="service.formData.phoneNumber"required>
          </div>
          <div class="form-group col-md-4">
            <label for="inputPassword4"> Skill Sets</label>
            <input type="text" class="form-control"name="skillsets" id="inputname" placeholder="Skill Sets"[(ngModel)]="service.formData.skillsets"required>
          </div>
          <div class="form-group col-md-4">
            <label for="inputPassword4"> Hobby</label>
            <input type="text" class="form-control"name="hobby" id="inputname" placeholder="Hobby"[(ngModel)]="service.formData.hobby"required>
          </div>
    </div>
   
    <button type="submit"  class="btn btn-primary">Submit</button>

    <button type="button" (click)="NavigateHome()"  class="btn btn-primary" style="margin-left: 20px;">Go Back To Home</button>
    
    </form>
    </div>
    
    </div>
    