
    
    <br/>
    <br/>
    <div>
        <div class="emp_header">
            <a routerLink="/addfreelancer"><button class="btn btn-success pull-right add_customer" > Add Freelancer</button></a>
            <h2 class=""><span class="manage_emp">Manage Freelancers</span></h2>

           
        </div>

       
        <div class=" table--no-card m-b-40">
          
            <div class="au-card-inner">
                <div class="table-responsive">
                    <table class="table table-borderless table-striped table-earning">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Phone Number</th>
                                <th>Skill Sets</th>
                                <th>Hobby</th>
                                <th>Action</th>
    
    
    
                            </tr>
                        </thead>
                        <tbody>
        <tr *ngFor="let e of freelancer | paginate: { itemsPerPage: 2, currentPage: p }">
        <td >{{e.userName}}</td>  
        <td >{{e.mail}}</td>  
        <td >{{e.phoneNumber}}</td> 
        <td >{{e.skillsets}}</td> 
        <td >{{e.hobby}}</td> 
        <td><button (click)="onDelete(e.id)" class="btn btn-sm btn-outline-danger dltbtn">X</button>
            <button (click)="populateForm(e)" class="btn btn-sm btn-success editbtn">Edit</button>
        </td>
                            </tr>
                           
                        </tbody>
                    </table>
                </div>
                <br/>
                <ul class="pagination">  
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>  
                    </ul>
            </div>
        </div>
    </div>